{{! Attributes Tab }}
<section class='tab abilities {{tab.cssClass}}' data-group='primary' data-tab='abilities'>
  {{! As you add new fields, add them in here! }}
  <div class='resource'>
    <label class='resource-label'>{{localize 'AETHER_NEXUS.Item.Augment.FIELDS.augmentAbility.label'}} 1</label>
    <input type='text' name='system.ability1Name' value='{{system.ability1Name}}' />
    {{#if isEmbedded}}
    <input type='checkbox' name='system.ability1Unlocked' {{#if system.ability1Unlocked}}checked{{/if}} /> <label
      class='resource-label'>{{localize 'AETHER_NEXUS.Item.Augment.FIELDS.unlocked.label'}}</label>
    {{/if}}
    {{#if editable}}
    <prose-mirror name="system.ability1Description" data-document-u-u-i-d="{{item.uuid}}"
      value="{{system.ability1Description}}" collaborate="true" toggled="true">
      {{{enrichedAbility1Description}}}
    </prose-mirror>
    {{else}} {{{enrichedAbility1Description}}}
    {{/if}}
  </div>
  <div class='resource'>
    <label class='resource-label'>{{localize 'AETHER_NEXUS.Item.Augment.FIELDS.augmentAbility.label'}} 2</label>
    <input type='text' name='system.ability2Name' value='{{system.ability2Name}}' />
    {{#if isEmbedded}}
    <input type='checkbox' name='system.ability2Unlocked' {{#if system.ability2Unlocked}}checked{{/if}} /> <label
      class='resource-label'>{{localize 'AETHER_NEXUS.Item.Augment.FIELDS.unlocked.label'}}</label>
    {{/if}}
    {{#if editable}}
    <prose-mirror name="system.ability2Description" data-document-u-u-i-d="{{item.uuid}}"
      value="{{system.ability2Description}}" collaborate="true" toggled="true">
      {{{enrichedAbility2Description}}}
    </prose-mirror>
    {{else}} {{{enrichedAbility2Description}}}
    {{/if}}
  </div>
</section>