{{! Attributes Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  {{! As you add new fields, add them in here! }}

  <div class='grid grid-3col'>
    <div class='grid-span-1'>
      <label class='resource-label'>{{localize 'AETHER_NEXUS.Aspect.label'}}</label>
      <select name="system.aspect">
        {{selectOptions config.ASPECT.ASPECT selected=system.aspect localize=true}}
      </select>
    </div>
    <div class='grid-span-1'>
      <label class='resource-label'>{{localize 'AETHER_NEXUS.Item.FoeStrike.FIELDS.target.label'}}</label>
      <input type='text' name='system.target' value='{{system.target}}' />
    </div>
    <div class='grid-span-1'>
      <label class='resource-label'>{{localize 'AETHER_NEXUS.Item.Weapon.FIELDS.attackType.label'}}</label>
      <select name="system.attackType">
        {{selectOptions config.EQUIPMENT.ATTACK_TYPE selected=system.attackType localize=true}}
      </select>
    </div>
    <div class='grid-span-1'>
      <label class='resource-label'>{{localize 'AETHER_NEXUS.Item.FoeStrike.FIELDS.damage.label'}}</label>
      <input type='text' name='system.damage' value='{{system.damage}}' />
    </div>
    <div class='grid-span-1'>
      <label class='resource-label'>{{localize 'AETHER_NEXUS.Item.FoeStrike.FIELDS.testAspect.label'}}</label>
      <select name="system.testAspect">
        <option></option>
        {{selectOptions config.ASPECT.ASPECT selected=system.testAspect localize=true}}
      </select>
    </div>

    {{#if (and isEmbedded (gt system.chargeUp.size 0))}}
    <div class='grid-span-1'>
      <input type='checkbox' name='system.charged' {{#if system.charged}}checked{{/if}} {{#if (not isEmbedded)}}disabled{{/if}} /> <label
      class='resource-label'>{{localize 'AETHER_NEXUS.Item.FoeAction.FIELDS.charged.label'}}</label>
    </div>
    {{/if}}
  </div>
  
  <div class='resource'>
    <label class='resource-label'>{{localize 'AETHER_NEXUS.Item.FoeAction.FIELDS.chargeUp.label'}}</label><br>
    <div class='grid grid-6col'>
    {{{chargeUp system.chargeUp}}}
    </div>
  </div>

</section>