{{! Attributes Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='attributes'>
  {{! As you add new fields, add them in here! }}
  <div class='resource'>
    <label class='resource-label'>{{localize 'AETHER_NEXUS.Item.Kin.FIELDS.uniqueTrait.label'}}</label>
    {{#if editable}}
    <prose-mirror name="system.uniqueTrait" data-document-u-u-i-d="{{item.uuid}}" value="{{system.uniqueTrait}}"
      collaborate="true" toggled="true">
      {{{enrichedUniqueTrait}}}
    </prose-mirror>
    {{else}} {{{enrichedUniqueTrait}}}
    {{/if}}
  </div>
  <div class='resource'>
    <label class='resource-label'>{{localize 'AETHER_NEXUS.Item.Kin.FIELDS.nexusSurge.label'}}</label>
    {{#if editable}}
    <prose-mirror name="system.nexusSurge" data-document-u-u-i-d="{{item.uuid}}" value="{{system.nexusSurge}}"
      collaborate="true" toggled="true">
      {{{enrichedNexusSurge}}}
    </prose-mirror>
    {{else}} {{{enrichedNexusSurge}}}
    {{/if}}
  </div>
</section>