<div>
  <input type='number' name='system.aspects.stone' value='{{system.aspects.stone}}' data-dtype='Number' max="18" />
  <input type='number' name='system.aspects.flux' value='{{system.aspects.flux}}' data-dtype='Number' max="18" />
  <input type='number' name='system.aspects.aether' value='{{system.aspects.aether}}' data-dtype='Number' max="18" />
  <input type='number' name='system.aspects.hearth' value='{{system.aspects.hearth}}' data-dtype='Number' max="18" />

  <label name="roll.aspects.stone" class='rollable' data-action='roll' data-roll-type='aspects' data-aspect='stone'>{{localize "AETHER_NEXUS.Aspect.stone"}}</label>
  <label name="roll.aspects.flux" class='rollable' data-action='roll' data-roll-type='aspects' data-aspect='flux'>{{localize "AETHER_NEXUS.Aspect.flux"}}</label>
  <label name="roll.aspects.aether" class='rollable' data-action='roll' data-roll-type='aspects' data-aspect='aether'>{{localize "AETHER_NEXUS.Aspect.aether"}}</label>
  <label name="roll.aspects.hearth" class='rollable' data-action='roll' data-roll-type='aspects' data-aspect='hearth'>{{localize "AETHER_NEXUS.Aspect.hearth"}}</label>
</div>