{{!-- {{> FoeList list=traits}} --}}

<section class='tab traits foe-list {{tab.cssClass}}' data-group='primary' data-tab='traits'>
  {{#each traits as |item key| }}
  <div class="foe-item" data-item-id="{{item.id}}">
    <label type='text' class="rollable" data-action="sendToChat"
      data-additional="{{item.system.description}}">{{item.name}}</label>
    {{{item.system.description}}}
  </div>
  {{/each}}
</section>