{{#> FoeList}}
{{#each list as |item key| }}
<div class="foe-item" data-item-id="{{item.id}}">
  {{{item.chargedSquare}}} <label type='text' class="rollable" data-action="sendToChat"
    data-additional="{{item.system.description}}">{{item.name}}</label>
  <desc>{{item.chargeUpText}}</desc>
  {{{item.system.description}}}
</div>
{{/each}}
{{/FoeList}}