<div>
  <input type='text' name="name" value="{{actor.name}}" data-tooltip="{{actor.name}}" />
  <input type='text' name="kin.name" disabled value="{{kin.name}}" data-tooltip="{{kin.name}}" />
  <input type='text' name="system.moniker" value="{{system.moniker}}" data-tooltip="{{system.moniker}}" />
  <input type='text' name="system.pronouns" value="{{system.pronouns}}" data-tooltip="{{system.pronouns}}" />
  <input type='text' name="frame.name" value="{{frame.name}}" disabled />
  <input type='text' name="system.banner" value="{{system.banner}}" data-tooltip="{{system.banner}}" />

  <input type='number' name='system.energy.value' value='{{system.energy.value}}' data-dtype='Number' />
  <input type='number' name='system.energy.max' value='{{system.energy.max}}' data-dtype='Number' />

  <input type='number' name='system.ap' value='{{system.ap}}' data-dtype='Number' />

  <label name="kin.nexusSurgeName" class="rollable" data-action="sendToChat"
    data-additional="{{kin.system.nexusSurge}}">{{kin.system.nexusSurgeName}}</label>
  <div name="kin.nexusSurge">
    {{{kin.system.nexusSurge}}}
  </div>
  <label type='text' class="rollable" data-action="sendToChat" name="frame.ability1"
    data-tooltip="{{frame.system.frameAbility1Description}}">{{frame.system.frameAbility1Name}}</label>
  <label type='text' class="rollable" data-action="sendToChat" name="frame.ability2"
    data-tooltip="{{frame.system.frameAbility2Description}}">{{frame.system.frameAbility2Name}}</label>
</div>