<div>
  <input type='text' name="name" value="{{actor.name}}" />
  <input type='text' name="system.pronouns" value="{{system.pronouns}}" />
  <input type='text' name="system.banner" value="{{system.banner}}" />
  <input type='text' name="system.moniker" value="{{system.moniker}}" />
  <input type='number' name='system.energy.value' value='{{system.energy.value}}' data-dtype='Number' />
  <input type='number' name='system.energy.max' value='{{system.energy.max}}' data-dtype='Number' />
</div>