{{! Sheet Header }}
<header class='sheet-header'>
  <img class='profile-img' src='{{actor.img}}' data-edit='img' data-action='onEditImage' title='{{actor.name}}'
    height='100' width='100' />
  <div class='header-fields'>
    <div class='document-name'>
      <input name='name' type='text' value='{{actor.name}}' placeholder='Name' />
    </div>
    {{! The grid classes are defined in scss/global/_grid.scss. To use,
    use both the "grid" and "grid-Ncol" class where "N" can be any number
    from 1 to 12 and will create that number of columns. }}
    <div class='resources grid grid-4col'>
      <div class='resource flex-group-center'>
        <label for='system.aspecs.stone' class='resource-label'>{{localize 'AETHER_NEXUS.Aspect.stone'}}</label>
        <input type='number' name='system.aspects.stone' value='{{system.aspects.stone}}' data-dtype='Number' min="-10"
          max="18" onfocus="this.select()" />
      </div>
      <div class='resource flex-group-center'>
        <label for='system.aspecs.flux' class='resource-label'>{{localize 'AETHER_NEXUS.Aspect.flux'}}</label>
        <input type='number' name='system.aspects.flux' value='{{system.aspects.flux}}' data-dtype='Number' min="-10"
          max="18" onfocus="this.select()" />
      </div>
      <div class='resource flex-group-center'>
        <label for='system.aspecs.aether' class='resource-label'>{{localize 'AETHER_NEXUS.Aspect.aether'}}</label>
        <input type='number' name='system.aspects.aether' value='{{system.aspects.aether}}' data-dtype='Number'
          min="-10" max="18" onfocus="this.select()" />
      </div>
      <div class='resource flex-group-center'>
        <label for='system.aspecs.hearth' class='resource-label'>{{localize 'AETHER_NEXUS.Aspect.hearth'}}</label>
        <input type='number' name='system.aspects.hearth' value='{{system.aspects.hearth}}' data-dtype='Number'
          min="-10" max="18" onfocus="this.select()" />
      </div>
    </div>

    <div class='resources grid grid-4col'>

      {{! "flex-group-center" is also defined in the _grid.scss file
      and it will add a small amount of padding, a border, and will
      center all of its child elements content and text. }}
      <div class='resource flex-group-center grid-span-2'>
        <label for='system.energy.value' class='resource-label'>
          {{localize 'AETHER_NEXUS.Item.Frame.FIELDS.energy.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input type='number' name='system.energy.value' value='{{system.energy.value}}' data-dtype='Number'
            onfocus="this.select()" />
          <span> / </span>
          <input type='number' name='system.energy.max' value='{{system.energy.max}}' data-dtype='Number'
            onfocus="this.select()" />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.damage' class='resource-label'>{{localize
          'AETHER_NEXUS.Item.FoeStrike.FIELDS.damage.label'}}</label>
        <input type='number' name='system.damage' value='{{system.damage}}' data-dtype='Number' min="-10" max="18"
          onfocus="this.select()" />
      </div>

      <div class='resource flex-group-center'>
        {{#if (eq actor.type "npc")}}
        <label class='resource-label'>{{localize 'AETHER_NEXUS.Actor.Npc.FIELDS.threat.label'}}</label>
        <select name="system.threat">
          {{selectOptions config.FOE.THREAT selected=system.threat localize=true}}
        </select>
        {{else}}
        <label class='resource-label'>{{localize 'AETHER_NEXUS.Actor.Nemeses.FIELDS.np.label'}}</label>
        <input type='number' name='system.np' value='{{system.np}}' data-dtype='Number' min="0" max="1000"
          onfocus="this.select()" />
        {{/if}}
      </div>
    </div>
  </div>
</header>