<div>
  <datalist id="dice">
    <option value="0">
    <option value="d4">
    <option value="d6">
    <option value="d8">
    <option value="d10">
    <option value="d12">
  </datalist>

  <input type='text' name='system.dice.damage.value' value='{{system.dice.damage.value}}' />
  <input type='text' name='system.dice.damage.max' value='{{system.dice.damage.max}}' />
  <input type='text' name='system.dice.nexus.value' value='{{system.dice.nexus.value}}' />
  <input type='text' name='system.dice.nexus.max' value='{{system.dice.nexus.max}}' />
  <input type='text' name='system.dice.armor.value' value='{{system.dice.armor.value}}' />
  <input type='text' name='system.dice.armor.max' value='{{system.dice.armor.max}}' />

  <span name="roll.dice.damage" class='rollable' data-action='roll' data-roll-type='damage'></span>
  <span name="roll.dice.nexus" class='rollable' data-action='roll' data-roll-type='resources' data-dice="nexus"></span>
  <span name="roll.dice.armor" class='rollable' data-action='roll' data-roll-type='resources' data-dice="armor"></span>
</div>