<section class='tab components {{tab.cssClass}}' data-group='primary' data-tab='components'>
  {{#each components as |item key| }}
  <div class="component-item" data-item-id="{{item.id}}">
    <h2 type='text' class="rollable" data-target-type="label" data-action="sendToChat"
      data-additional="{{item.system.description}}">{{item.name}}</h2>
    {{{item.system.description}}}
  </div>
  {{/each}}
</section>