<div name="traits">
  <div class="trait">
    <label type='text' class="rollable" data-action="roll" data-roll-type='label-chat' data-additional="{{kin.system.uniqueTrait}}">{{kin.system.uniqueTraitName}}</label>
    {{{kin.system.uniqueTrait}}}
  </div>
  {{#each traits as |trait|}}
  <div class="trait">
    <input type='text' value="{{trait.system.name}}" disabled />
    {{{trait.system.description}}}
  </div>
  {{/each}}
</div>