<header class='sheet-header'>
  <img class='profile-img' src='{{item.img}}' data-edit='img' data-action='onEditImage' title='{{item.name}}' />
  <div class='header-fields'>
    <div class='document-name'>
      <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
    </div>
    {{! You may prefer to have a separate header file instead of this if statement}}
    {{#if (eq item.type "nemesesAsset")}}
    <div class='resource'>
      <label class='resource-label'>{{localize 'AETHER_NEXUS.Item.NemesesAsset.FIELDS.cost.label'}}</label>
      <input type='number' name='system.cost' value='{{system.cost}}' data-dtype='Number' min="0" />
    </div>
    {{/if}}
  </div>
</header>